### https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

%matplotlib inline

In [3]:
with open('results.csv', 'r') as t:
    for _ in range(3):
        print(t.readline())

date,home_team,away_team,home_score,away_score,tournament,city,country,neutral

1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,FALSE

1873-03-08,England,Scotland,4,2,Friendly,London,England,FALSE

In [4]:
ds = pd.read_csv('results.csv', decimal=',')

In [11]:
ds.head(3)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False

- date - date of the match
- home_team - the name of the home team
- away_team - the name of the away team
- home_score - full-time home team score including extra time, not including penalty-shootouts
- away_score - full-time away team score including extra time, not including penalty-shootouts
- tournament - the name of the tournament
- city - the name of the city/town/administrative unit where the match was played
- country - the name of the country where the match was played
- neutral - TRUE/FALSE column indicating whether the match was played at a neutral venue

In [10]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42084 entries, 0 to 42083
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        42084 non-null  datetime64[ns]
 1   home_team   42084 non-null  object
 2   away_team   42084 non-null  object
 3   home_score  42084 non-null  int64
 4   away_score  42084 non-null  int64
 5   tournament  42084 non-null  object
 6   city        42084 non-null  object
 7   country     42084 non-null  object
 8   neutral     42084 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.6+ MB

In [9]:
ds.date = ds.date.astype('datetime64[ns]')