In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import psycopg2

In [158]:
con = psycopg2.connect(database='ml_test', user='igor', host='localhost', password='12345')

In [159]:
cursor = con.cursor()

In [80]:
def createTable(name, data):
    cursor.execute("create table :name")

In [119]:
cursor.execute("alter table temp_1 add column col_2 varchar(50), add column col_4 varchar(50)")
con.commit()

In [138]:
a = []
d = header[0: 3]
a.append(tuple(d))

In [141]:
a

(('symboling', 'normalized-losses', 'make'),)

In [140]:
a = tuple(a)

In [156]:
d

['symboling', 'normalized-losses', 'make']

In [163]:
cursor.execute('insert into temp_1(col_1, col_2, col_3) values(%s, %s, %s)', d)
con.commit()

In [101]:
# list table
cursor.execute("select table_name from information_schema.tables where table_schema = 'public'")
for v in cursor:
    print(v)

('temp_1',)

In [29]:
with open('auto_clean.csv', 'r') as text:
    header = text.readline()
    header = header.strip('\n').split(',')
    query = 'create table auto_clean(%s int);'
    cursor.executemany(query, header[0])
    con.commit()

SyntaxError: ОШИБКА:  ошибка синтаксиса (примерное положение: "'s'")
LINE 1: create table auto_clean('s' int);
                                ^

In [ ]:
cursor.execute('create table auto_clean(symboling varchar(10), normalized-losses', 'make', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price',
 'city-L/100km',
 'horsepower-binned',
 'diesel',
 'gas'

In [12]:
len(header)

29

In [50]:
header[0]

'symboling'

In [ ]:
cursor.execute("create table auto_clean()", {})

In [7]:
con.close()

In [48]:
df = pd.read_csv('auto_clean.csv')

In [49]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    int64
 2   make               201 non-null    object
 3   aspiration         201 non-null    object
 4   num-of-doors       201 non-null    object
 5   body-style         201 non-null    object
 6   drive-wheels       201 non-null    object
 7   engine-location    201 non-null    object
 8   wheel-base         201 non-null    float64
 9   length             201 non-null    float64
 10  width              201 non-null    float64
 11  height             201 non-null    float64
 12  curb-weight        201 non-null    int64
 13  engine-type        201 non-null    object
 14  num-of-cylinders   201 non-null    object
 15  engine-size        201 non-null    int64
 16  fuel-system        201 non-null    object
 17  bore               201 non-null    float64
 18  stroke             197 non-null    float64
 19  compression-ratio  201 non-null    float64
 20  horsepower         201 non-null    float64
 21  peak-rpm           201 non-null    float64
 22  city-mpg           201 non-null    int64
 23  highway-mpg        201 non-null    int64
 24  price              201 non-null    float64
 25  city-L/100km       201 non-null    float64
 26  horsepower-binned  200 non-null    object
 27  diesel             201 non-null    int64
 28  gas                201 non-null    int64
dtypes: float64(11), int64(8), object(10)
memory usage: 45.7+ KB

In [11]:
df.shape

(201, 29)